{% extends 'base.html' %}

{% block content %}
<h1>{{ hotel.name }}</h1>

{# Karuzela zdjęć#}
<div>
    <div id="hotelCarousel" class="carousel slide" data-bs-ride="carousel" style="max-width: 800px; margin: auto;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#hotelCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#hotelCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#hotelCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#hotelCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ hotel.image.url }}" class="d-block w-100" alt="Zdjęcie hotelu 1" style="border-radius: 8px;">
            </div>
            <div class="carousel-item">
                <img src="{{ hotel.image2.url }}" class="d-block w-100" alt="Zdjęcie hotelu 2" style="border-radius: 8px;">
            </div>
            <div class="carousel-item">
                <img src="{{ hotel.image3.url }}" class="d-block w-100" alt="Zdjęcie hotelu 3" style="border-radius: 8px;">
            </div>
            <div class="carousel-item">
                <img src="{{ hotel.image4.url }}" class="d-block w-100" alt="Zdjęcie hotelu 3" style="border-radius: 8px;">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#hotelCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Poprzedni</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hotelCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Następny</span>
        </button>
    </div>

    {#Informacje dot. hotelu#}
    <div class="mt-4">
        <p>Opis: {{ hotel.description }}</p>
        <p>Adres: {{ hotel.address }}</p>
        <p>Cena za noc: {{ hotel.price_per_night }} zł</p>
        <p>Ocena: {{ hotel.rating }}/10</p>
        <p>Udogodnienia: {{ hotel.amenities }}</p>
        {% if hotel.map %}
            <a href="{{ hotel.map }}" target="_blank">Pokaż na mapie</a>
        {% endif %}
            <h2>Opinie innych użytkowników</h2>
        {% if reviews %}
            {% for review in reviews %}
                <div>
                    <p>Użytkownik: <strong>{{ review.user.username }}</strong></p>
                    <p>Ocena: {{ review.rating|default:"1" }}/5</p>
                    <p>Opinia: {{ review.review_text|default:"Brak opinii" }}</p>
                    <p>Data: {{ review.created_at }} {% now "d-m-Y" %}</p>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>Brak opinii od innych użytkowników.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
