{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4" style="margin-left: -280px;">Rezerwacja</h2>
    <div class="center-container" style="margin-top: -120px;">
        <div class="card">
            <h2 class="text-center">{{ hotel.name }}</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="check_in" class="form-label">Data zameldowania:</label>
                    <input type="date" name="check_in" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="check_out" class="form-label">Data wymeldowania:</label>
                    <input type="date" name="check_out" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="guests" class="form-label">Liczba gości:</label>
                    <input type="number" name="guests" min="1" class="form-control" required>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="breakfast" name="breakfast">
                    <label class="form-check-label" for="breakfast">Śniadanie</label>
                </div>
                <div class="price">Całkowity koszt: 130 zł</div>
                <button type="submit" class="btn btn-success w-100">Zarezerwuj</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
